<% content_for :nav do %>
	<%= render 'layouts/nav', page: :home %>
<% end %>
<%= content_for :title do %>
  <%= "Wedding photography, digitisation, restoration and more" %>
<% end %>

<div class="box">

	<div class="left">
		<%= image_tag '/assets/placeholders/02.jpg' %>
	</div>

	<div class="right">
		
			<h3>A Beautiful Visual Journal of your Special Day</h3>

			<div class="copy">

				<p>I'm Nathan Toper, a wedding photographer based in Cambridgeshire, UK. My passion for photography shines through my modern reportage adaptation of the classic wedding style.</p>

				<p>I am always happy to <%= link_to 'discuss your needs', contact_path %> and wishes for the day in order to make your wedding photographs special.</p>

				<p>Take a look at my photos <%= link_to 'here', galleries_path %>.</p>


			</div>

		<%= image_tag '/assets/placeholders/07.jpeg' %>

	</div>

	<div class="clear"></div>


</div>