<% content_for :nav do %>
	<%= render 'layouts/nav', page: :weddings %>
<% end %>
<%= content_for :title do %>
  <%= "Your Wedding Day - documentation, photo DVDs, albums and more" %>
<% end %>

<div class="left-float left">

	<div class="box">

		<h2>What will you get on your big day?</h2>


		<h3>A visual documentation of the full day</h3>
		<p>Photographs of the bride and her bridesmaids in her home or hotel as they prepare for the big day. I will then travel to the location of the ceremony to photograph the groom, the guests arriving and the decorations/details at the venue. Following the ceremony I will photograph for the remainder of the day at the reception.</p>

		<h3>A Photo DVD</h3>
		<p>The DVD will include two sets of the images. One folder will have the photos in full resolution (the files that you can print from) and the other folder will include lower-resolution images that you can upload straight online (Facebook, Email etc). Your images will be ready for you 1-2 weeks after your wedding.</p>

		<h3>A beautiful album for your photos or a personally designed book</h3>
		<p>I will create a wonderful album showcasing your special day. You pick the album and which photos you want included and I will print and compile the album. If you would prefer something a little different I can design and provide a book in the style of your choice; hardback, soft back, small, A4 or larger if required. I have designed and printed several artistic photographic books.</p>

		<p>The details outlined above are a standard package; I am always happy to <%= link_to 'discuss', contact_path %> customised adaptations of the packages and work towards creating your perfect wedding photographs.</p>


		<h2>How much will it cost?</h2>
		<p>Weddings start from £700, but please <%= link_to 'contact me', contact_path %> for a full quote.</p>




	</div>
</div>

<div class="right-float right">
	<%= image_tag '/assets/Album_colour.jpg', height: 200, class: 'first' %>
	<%= image_tag '/assets/Album_open_colour.jpg', height: 200 %>
	<%= image_tag '/assets/DVD.jpg', height: 200, class: 'last' %>
</div>