<p><%= link_to 'Back to Galleries', root_path %></p>

<h2><%= @gallery.name %></h2>
<% if @gallery.description.present? %>
	<p><%= @gallery.description %></p>
<% end %>

<%= link_to 'New photo', new_gallery_photograph_path(@gallery) %>

<% @gallery.photographs.each do |photo| %>
	<div>
		<%= link_to image_tag(photo.image_url(:thumb)), photo.image_url if photo.image? %>
		<p><%= link_to 'Edit', edit_gallery_photograph_path(@gallery, photo) %> - <%= link_to 'Delete', photo, method: :delete %></p>
	</div>
<% end %>