<% content_for :nav do %>
	<%= render 'layouts/nav', page: :galleries %>
<% end %>
<%= content_for :title do %>
  <%= "#{@gallery.name}" %>
<% end %>

<div class="box">

	<div class="top">

		<%= link_to 'back to galleries index', galleries_path, class: 'back-link' %>

		<h2><%= @gallery.name %></h2>

		<div class="share-icons">
			Share this page:
			<span class='st_facebook'></span>
			<span class='st_twitter'></span>
			<span class='st_pinterest'></span>
			<span class='st_email'></span>
		</div>

	</div>

	<div class="gallery">

		<% if @gallery.photographs.any? %>

			<div class="thumbnails">
				<% @gallery.photographs.each_with_index do |photo, index| %>
					<% css_class = 'selected' if index == 0 %>
					<%= link_to image_tag(photo.image.url(:tiny)), '#', class: "thumb #{css_class}" %>
				<% end %>
			</div>

			<div class="main-image" id="main-image">
				<%= image_tag @gallery.photographs.first.image.url(:large) %>
			</div>

			<div class="clear"></div>

		<% else %>
			<p>This gallery has no photographs.</p>
		<% end %>
	</div>

</div>