<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) + " | Photos by Nathan" : 'Photos by Nathan' %></title>
		<link href="http://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet" type="text/css" />
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "ur-a30e7f39-85ff-9358-1d6b-5b05b9f3af2b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		<meta name="viewport" content="width=1124" />
		<meta name="keywords" content="photography, photographs, photos, weddings, wedding photographer, wedding photographs, Cambridge, Cambridgeshire, London, engagements, engagement photographs, anniversary, anniversary photographs, party photography, birthday photography, birthday party photography, photo digitising, photo retouching" />
		<meta name="description" content="Nathan Toper is a wedding, engagement, anniversary and party photographer based in Cambridgeshire and London" />
	 	<link href="images/favicon.ico" rel="shortcut icon">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-42548264-1', 'photosbynathan.co.uk');
		  ga('send', 'pageview');

		</script>
	</head>
	<body class="<%= controller.controller_name %> <%= controller.action_name %>">
		<div class="page">
			<header>
				<h1><%= link_to image_tag('/assets/logo-3.png', width: 166, height: 70, alt: 'Photos by Nathan'), root_url %></h1>

				<div class="nav-and-contact">
					
					<%= yield :nav %>

					<div class="right-float contact-info">
						<div class="phone-and-email">
							<span>t: 07791 294587</span>
							<span>e: info@nathantoper.com</span>
						</div>

						<div class="social">
							<%= link_to 'Follow me on Twitter!', 'https://twitter.com/Nate_Toper', title: 'Follow me on Twitter', id: 'twitter-link' %>
							<%= link_to 'Become a fan on Facebook!', 'http://www.facebook.com/nathantoperphotography', title: 'Become a fan on Facebook', id: 'facebook-link' %>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			
			<article>
				<%= yield %>
			</article>
			
			<footer>
				<p>&copy; Photos by Nathan <%= Time.now.year %></p>
				<% if @user_is_admin %>
					<%= link_to 'LOG OUT', admin_logout_path %> 
				<% end %>
			</footer>
		</div>
	</body>
</html>