<!DOCTYPE html>
<html>
	<head>
		<title>Nathan's Photos</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<header>
		<h1>Photos by Nathan</h1>
	</header>
	<nav>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Galleries', galleries_path %></li>
			<li><%= link_to 'Services', services_path %></li>
			<li><%= link_to 'About Us', about_path %></li>
			<li><%= link_to 'Contact Us', contact_path %></li>
		</ul>
	</nav>
	<body>
		<%= yield %>
	</body>
	<footer>
		<p>&copy; Photos by Nathan 2012</p>
	</footer>
</html>