<!DOCTYPE html>
<html>
	<head>
		<title>Nathan's Photos</title>
		<link href="http://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet" type="text/css" />
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=1124">
	</head>
	<body class="<%= controller.controller_name %> <%= controller.action_name %>">
		<div class="page">
			<header>
				<h1><%= link_to image_tag('/assets/logo-3.png', width: 166, height: 70, alt: 'Photos by Nathan'), root_url %></h1>

				<div class="nav-and-contact">
					
					<%= yield :nav %>

					<div class="right-float contact-info">
						<div class="phone-and-email">
							<span>t: 07791 294587</span>
							<span>e: info@nathantoper.com</span>
						</div>

						<div class="social">
							<%= link_to '', 'https://twitter.com/Nate_Toper', title: 'Follow me on Twitter', id: 'twitter-link' %>
							<%= link_to '', 'http://www.facebook.com/nathantoperphotography', title: 'My Facebook page', id: 'facebook-link' %>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</header>
			
			<article>
				<%= yield %>
			</article>
			
			<footer>
				<p>&copy; Photos by Nathan <%= Time.now.year %></p>
				<% if @user_is_admin %>
					<%= link_to 'LOG OUT', admin_logout_path %> 
				<% end %>
			</footer>
		</div>
	</body>
</html>